:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  md-toolbar /deep/ mat-toolbar-row {
    text-align: center;
    justify-content: center;
  }
  table {
    display: block;
    min-width: 100px;
    min-height: 100px;
    background: gray;
    td {
      border: 2px solid black;
      height: 36px;
      min-width: 36px;
    }
  }
  input.ng-invalid.ng-touched.ng-dirty {
    border: 1px solid red;
  }
  md-error {
    color: red;
  }
}
