<md-toolbar>
  <span>Hidoku</span>
</md-toolbar>

<form [formGroup]='form' (ngSubmit)='generateHidoku()'>
  <div id='formContainer'>
    <md-form-field>
      <label>Filas</label>
      <input mdInput type='text' formControlName='rows'>
      <md-error ngxErrors="rows">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>

    <md-form-field>
      <label>Columnas</label>
      <input mdInput type='text' formControlName='cols'>
      <md-error ngxErrors="cols">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>

    <md-form-field>
      <label>Dificultad</label>
      <input mdInput type='text' formControlName='dificulty'>
      <md-error ngxErrors="dificulty">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>
  </div>

  <button
    md-raised-button
    color="primary"
    type="submit"
  >Submit</button>
</form>

<table>
  <tr *ngFor="let rows of hidokuGrid">
    <td
      *ngFor="let cel of rows"
      [ngClass]="{'cellEdge': cel.isEdge}"
    >
      {{ cel.label }}
    </td>
  </tr>
</table>