<md-toolbar>
  <span>Hidoku</span>
</md-toolbar>

<form [formGroup]='form' (ngSubmit)='generateHidoku()'>
  <md-form-field>
    <label>Filas</label>
    <input mdInput type='text' formControlName='filas'>
    <div ngxErrors="filas">
      <md-error *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
        {{ error.text }}
      </md-error>
    </div>
  </md-form-field>

  <md-form-field>
    <label>Columnas</label>
    <input mdInput type='text' formControlName='columnas'>
    <div ngxErrors="columnas">
      <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
        {{ error.text }}
      </div>
    </div>
  </md-form-field>

  <md-form-field>
    <label>Dificultad</label>
    <input mdInput type='text' formControlName='dificultad'>
    <div ngxErrors="dificultad">
      <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
        {{ error.text }}
      </div>
    </div>
  </md-form-field>

  <button type="submit">Submit</button>
</form>

<table>
  <tr *ngFor="let filas of hidokuGrid">
    <td *ngFor="let cel of filas">
      {{ cel.label }}
    </td>
  </tr>
</table>