<md-toolbar>
  <span>Hidoku</span>
</md-toolbar>

<form #formData='ngForm' [formGroup]='form'>
  <div id='formContainer'>
    <md-form-field>
      <label>Filas</label>
      <input mdInput type='text' formControlName='rows'>
      <md-error ngxErrors="rows">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>

    <md-form-field>
      <label>Columnas</label>
      <input mdInput type='text' formControlName='cols'>
      <md-error ngxErrors="cols">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>

    <md-form-field>
      <label>Dificultad</label>
      <input mdInput type='text' formControlName='dificulty'>
      <md-error ngxErrors="dificulty">
        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
          {{ error.text }}
        </div>
      </md-error>
    </md-form-field>
  </div>

  <div>

<!--
    <button
      md-raised-button
      color="primary"
      type="submit"
      (click)="byGreedy()"
    >Greedy Algorithm</button>

    <button
      md-raised-button
      color="primary"
      type="submit"
      (click)="bySpiral()"
    >Spiral Algorithm</button>
-->
    <button
      md-raised-button
      color="primary"
      type="submit"
      (click)="byBackTracking()"
    >BackTracking Algorithm</button>

  </div>
</form>

<div id="hidokuLoading">
  <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

    <table>
      <tr *ngFor="let rows of hidokuGrid">
        <td
          *ngFor="let cell of rows"
          [ngClass]="{'cellEdge': cell.isEdge, 'cellClue': !cell.isEdge && cell.readOnly}"
        >
          <div>
            <input
              type='number'
              [value]='cell.label'
              [readonly]='cell.readOnly || cell.isEdge'
              (input)='cell.setValue($event)'
            >
          </div>
          <!-- {{ cell.label }} -->
        </td>
      </tr>
    </table>
  </div>
</div>
