:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  md-toolbar /deep/ mat-toolbar-row {
    text-align: center;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    > div#formContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding-bottom: 10px;
    }
  }
  #hidokuLoading {
    max-width: 100%;
    /deep/ .td-loading {
      display: flex;
      min-width: 100px;
      min-height: 100px;
      align-items: center;
      justify-content: center;
    }

    table {
      min-width: 100px;
      min-height: 100px;
      align-items: center;
      justify-content: center;

      background: gray;

      td {
        border: 2px solid black;
        height: 36px;
        min-width: 36px;

        &.cellEdge {
          border-color: #8a0b08;
          background: #ef6c00;
        }
        &.cellClue {
          background: #1CEF00;
        }
        input {
          width: 50px;
        }
      }
    }
  }
  .saveButtons {
    margin-top: 20px;
  }
}
